.coursedetails-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    color: #ff0000;
    height: 100vh;
    border: 1px solid yellow;
    background: blueviolet;
}