.coursedetails-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    height: 100vh;
    background:#111120;
    color: #fff;
}
.coursedetails-wrapper a{
    background: rgb(38, 38, 159);
    color: #fff;
    padding: 10px;
    width: 150px;
    text-decoration: none;
    border-radius: 10px;
}

.coursedetails-wrapper h1{
    margin: 20px;
    width: 100%;
}

.coursedetails-wrapper p{
    margin-top: 30px;
    padding: 20px;
}

.course-list{
    padding: 20px;
}