.dashboard-wrapper{
    width: 100%;
    min-height: 100vh;
    display: flex;
    background: #09091c;
    overflow: hidden;
}
 .toggle-wrapper{
display: none;
}

.userpage{
    margin:  auto auto;
    width: 60%;
    height: 60vh;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg, #3feb7b 35%, #1374b1);
    padding-left: 60px;
}
.dashboardimg img{
    width: 400px;
}
.welcome{
    margin-top: -50px;
}
.welcome h1{
    color: #fff;
    font-size: 60px;
}
.welcome h3{
    color: #333533;
    font-size: 25px;
}

@media screen and (max-width:912px) {
.dashboard-wrapper {
        justify-content: center;
        align-items: center;
    }
        .userpage{
            width: 90%;
            flex-direction: column;
            /* to cancel the left margin in small devices */
            padding-left: 0;
        }
    .welcome {
        margin-top: 50px;
    }
    /* id to style the sidebar */
  #sidebar{
    position: fixed;
    top: 0;
    left: 0;
    transition: all .3s ease-in-out;
  }
  /* icon parent div */
    .toggle-wrapper {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        color: #fff;
        transition: all .3s ease-in-out;
    }
    /* icon parent and dynamic css classname assignment with tenary op to toggle open and close */
    .togOp{
        display: block;
        opacity: 1;
        color:"#fff";
        transition: all .3s ease-in-out;
    }
    .togClo{
        display: none;
        opacity: 0;
        color:"#fff";
        transition: all .3s ease-in-out;
    }

    /* .dashboad-sidebar {
        display: none;
    } */
}
@media screen and (max-width:280px){
    .welcome{
        text-align: center;
    }
        .welcome h1{
            font-size: 30px;
        }
        .welcome h3{
            font-size: 18px;
        }
                .dashboardimg img {
                    width: 250px;
                }
}