
.landingpage-wrapper{
    width: 100%;
    min-height: 100vh;
   background:#000080;
   color: #fff;
    overflow: hidden;
}
.landingPage-wrap{
    padding: 50px;
    display: flex;
    justify-content: space-between;
}
.landingPage-wrap .intro{
    display: grid;
    place-content: center;
    padding:0 8%;
    margin: auto;
}
.landingPage-wrap .intro h1{
    font-size: 60px;
}
.landingPage-wrap .intro h1 strong,.landingPage-wrap .intro h1 span{
    color: #7cfc00;
}
.intro-img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
 img.kodecamp{
     position: absolute;
  text-align: center;
    width: 100px;
    height: 70px;
    bottom: 0px;
    border: 1px solid #fff;
}

@media screen and (max-width:1024px){
.landingPage-wrap {
    padding: 10px 20px 0px 20px;   
    }
        /* .intro-img {
            margin: auto;
        } */
        .intro-img img{
                    width: 450px;
                }
         .landingPage-wrap .intro h1 {
            font-size: 45px;
             }
                 img.kodecamp {
                     width: 80px;
                     height: 70px;
                 }
          
}
@media screen and (max-width:912px){
.landingPage-wrap {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
         .intro-img {
             /* padding-right: 0px; */
             text-align: center;
         }
        .landingPage-wrap .intro h1 {
            /* to put the h1 in the middle  */
            width: 100%;
            font-size: 70px;
            text-align: center;

        }
        .landingPage-wrap .intro p {
            text-align: center;
            padding: 20px;
        }
}
@media screen and (max-width:600px){
.landingPage-wrap .intro h1{
    font-size: 40px;
}
 .landingPage-wrap .intro p {
     padding: 10px 2px;
 }
}

@media screen and (max-width:414px) {}