.login-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #000080;
}
.login-wrapper .content{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    width: 70%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 20px;
}
a.close{
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 16px;
    text-decoration: none;
    color: grey;
    font-weight: normal;
}
.login-wrapper aside {
    text-align: center;
}

.login-wrapper form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.login-wrapper .content aside img{
    margin-top: 30px;
    width: 250px;
}
.login-wrapper form .img{
    text-align: center;
}
.login-wrapper form img{
    width: 100px;
}

.login-wrapper form input[type=email],
.login-wrapper form input[type=password]{
    width: 100%;
    padding: 5px 10px;
    margin-top: 25px;
    border: none;
    outline: none;
    position: relative;
}
.email,.password{
display: flex;
align-items: center;
border-bottom: 1px solid #2c2828;
position: relative;
}
 .email-icon,.pass-icon{
    position: absolute;
    right: 5px;
    bottom: 5px;
} 
input[type=submit]{
    margin-top: 25px;
    border: 1px solid #2c2828;
    background: navy;
    color: #fff;
    border-radius: 10px;
    padding: 10px ;
    text-align: left;
    cursor: pointer;
}

input[type=submit]:hover{
    background: rgb(103, 103, 187);
}
.login-wrapper form{
    margin: 50px 0;
    width: 40%;
}
.login-wrapper form .reg{
 display: flex;
 justify-content: space-between;
 padding-top: 10px;
}

.login-wrapper form .reg button{
    outline: none;
    border: none;
    background: transparent;
    color: #000000;
   cursor: pointer;
    
}
.google button{
    outline:none ;
    border: none;
    border-radius: 10px;
    background: #fff;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    width: 100%;
    transition: all 0.5s ease-out;
}
.google-icon{
    color:  #ff0000;
    margin-right: 5px;
}
.google{
    
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
border: 0.3px solid #362f2f;
transition: all 0.5s ease-out;
}
.google:hover,.google button:hover{
    background: linear-gradient(90deg, #3feb7b 35%, #1374b1);
    color: #fff;
    transition: all 0.5s ease-out;
}

