.sidebar-wrapper{
    width: 200px;
    height: 100vh;
    background: #1374b1;
}
.sidebar-wrapper aside{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
}
.sidebar-wrapper aside a{
    text-decoration: none;
    color: #FFFFFF;
    
}
.cname{
    display: flex;
    align-items: center;
}
.sidebar-wrapper aside ul li {
    list-style: none;
    margin-top: 70px;
    cursor: pointer;
    border: none;
}
.sidebar-wrapper aside ul li:nth-child(2) {
    padding: 0;
}
.sidebar-wrapper aside ul li a{
text-decoration: none;
color:#fff;
display: flex;
align-items: center;
font-size: 18px;
}
.sidebar-wrapper aside ul li a span{
    margin-left: 10px;
}

aside ul{
    margin-top: -200px;
    text-align: left;
}
.sidebar-wrapper .logout{
    margin-bottom: 40px;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar-wrapper .logout button{
    font-size: 18px;
}
.sidebar-wrapper button{
    margin-left: 10px;
    outline: none;
    border: none;
    background: transparent;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width:600px){
.sidebar-wrapper {
width: 160px;
    }
.cname h1 {
font-size: 14px;
}
.sidebar-wrapper aside ul li a {
    font-size: 16px;
}
.sidebar-wrapper .logout button {
    font-size: 16px;
}

}